<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <script src="/ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="/js/application.js"></script>
  <title>Welcome Survey Lemur</title>
</head>

<body>
  <div class="Container">
    <div class="Header">
      <h1> Welcome To Survey Lemur</h1>
    </div>

    <div class="Menu">
      <ul id="nav">
        <li>Home</li>
        <li><a href="/ ">Home</a></li>
        <li><a href="/surveys">My Surveys</a></li>
        <li><a href="surveys/new">Create Survey</a></li>
        <li><a href="surveys/category">Survey Categories</a></li>
        <li><a href="">Log Out</a></li>
      </ul>
    </div>

    <div class="Body">

    </div>
  </div>
  <script>  </script>
  <%= yield %>
</body>

<footer>
  <div class="Footer">
    <b>Pew Survey, Copyright - 2014</b>
  </div>
</footer>
</html>
