<!DOCTYPE html>
<html lang="en">

<html>
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <title>Survey Lemur</title>
</head>

<body>

  <div class="Container title">
    <div class="Header">
      <h1>
        <img id="small_lemur" src="/imgs/Madagascar_lemur.jpg"/>
        Survey Lemur
        <img id="small_lemur" src="/imgs/Madagascar_lemur.jpg"/>
      </h1>
    </div>

    <div class="menu row">
      <div class="single"><a class="button button-primary" href="/">Home</a></div>
      <div class="single"><a class="button button-primary" href="/users/surveys">My Surveys</a></div>
      <div class="single"><a class="button button-primary" href="/users/surveys/new">Create Survey</a></div>
      <!--         <div class="one columns"><a class="button button-primary" href="#"></a></div> -->
      <div class="single"><a class="button" href="/register">Register</a></div>
      <div class="single"><a class="button" href="/login">Log In</a></div>
      <div class="single"><a class="button" href="/logout">Log Out</a></div>

    </div>
    <div class="Body">
    </div>
  </div>

  <%= yield %>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="/js/application.js"></script>

</body>

<footer>
  <br>
  <div class="Footer">
    <b>Survey Lemur, Not Copyright - 2014</b>
  </div>
</footer>
</html>
