<div class="container">

  <h2>BANANAS! You wanna make a new survey!</h2>

  <h3>Come make a new survey!</h3>

  <% if @error %>
    <div class="error"><%= @error %></div>
  <% end %>

  <form id="register" method="post" action="/register">
    <label class="label" for="username">Username</label>
    <input type="username" name="input[username]" placeholder="Zoboomafoo"><br>

    <label class="label" for="password">Password</label>
    <input type="password" name="input[password]" placeholder="6 or more characters">

    <div class="submit"><input class="button-primary" type="submit" value="Sign Up"></div>
  </form>

  <a href='/surveys'><i>&#8617;  Back To All Surveys</i></a>

</div>

<!--     <input type='submit' value= '&#10060; Delete Note'> -->
