<div class="container">

  <h3>BANANAS! You wanna make a new survey!</h3>

  <h4>Start by giving us a survey name!</h4>

    <% @error_messages.each do |error| %>
      <div class="error"> <%= error %> </div>
    <% end %>

  <form id="new_survey" method="post" action="/users/<%= @user.id %>/surveys">
    <label class="label" for="survey_name">Survey Name</label>
    <input type="text" name="title" placeholder="Favorite Banana"><br>

    <div class="submit"><input class="button-primary" type="submit" value="Create Survey"></div>
  </form>

  <!-- <a href='/surveys'><i>&#8617;  Back To All Surveys</i></a> -->

</div>

<!--     <input type='submit' value= '&#10060; Delete Note'> -->
